<mat-card>
  <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/home">Home</button>
      <button mat-raised-button color="primary" routerLink="/blog">Blog</button>
      <button mat-raised-button color="primary" routerLink="/a-propos">A propos</button>
      <button mat-raised-button color="primary" routerLink="/chat">Chat</button>
      <button mat-raised-button color="primary" routerLink="/tableau-bord-voitures">Tableau de bord Voitures</button>
      <button mat-raised-button color="primary" routerLink="/films">Films</button>
      <button mat-raised-button color="primary" routerLink="/pokemon">Pokemon</button>
  </mat-card-content>
</mat-card>
